<div>
  <button
    *ngIf="walletService.walletCertificate !== undefined"
    mat-flat-button
    (click)="openCreateGameDialog()">
   Create Pool
  </button>

  <button 
    class="btn-transparent" 
    mat-flat-button 
    matTooltip="whats all this?"
    (click)="openShowGameHelpDialog()"
  >
    <mat-icon>info</mat-icon>
  </button>

  <mat-tab-group>
    <!--OPEN GAMES -->
    <mat-tab label="open pools" class="rollit-stats-tabs">
      <mat-table
        mat-table
        matSort
        #openGamesSort="matSort"
        [dataSource]="gameFilterService.openGameDataSource"
      >
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let game">
            <button
              *ngIf="walletService.walletCertificate !== undefined"
              mat-flat-button
              color="accent"
              (click)="joinOpenGame(game)"
            >
              Join
            </button>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Game Id</mat-header-cell
          >
          <mat-cell *matCellDef="let game"> {{ game.id }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="gameBetSize">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Entry Fee (VET)</mat-header-cell
          >
          <mat-cell *matCellDef="let game"> {{ wagerConversionService.convertWeiToVET(game.gameBetSize) }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="totalGameWagers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Pool Total (VET)</mat-header-cell
          >
          <mat-cell *matCellDef="let game"> {{ game.totalGameWagers }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="gameTotalEligiblePlayers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Current Players
          </mat-header-cell>
          <mat-cell *matCellDef="let game">
            {{ game.gameTotalEligiblePlayers }}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="minimumGamePlayers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Minimum Players
          </mat-header-cell>
          <mat-cell *matCellDef="let game">
            {{ game.minimumGamePlayers }}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="isAuditEnabled">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Audit
          </mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.isAuditEnabled }} </mat-cell>
        </ng-container>
  
        <mat-header-row
          *matHeaderRowDef="gameFilterService.openGameDisplayColumns"
        >
        </mat-header-row>
        <mat-row
          *matRowDef="let game; columns: gameFilterService.openGameDisplayColumns"
        ></mat-row>
      </mat-table>
      <mat-paginator
        #openGamesPaginator
        [pageSizeOptions]="[50, 100, 500]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-tab>
    <!--COMPLETED GAMES-->
    <mat-tab label="completed pools" class="rollit-stats-tabs">
      <mat-table
        class="roll-it-table-full-width"
        mat-table
        matSort
        #completedGamesSort="matSort"
        [dataSource]="gameFilterService.completedGamesDataSource"
      >
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let game">
  
          <button *ngIf="game.isAuditEnabled === true"
          (click)="openRandomOrgAuditLinkByGameId(game.auditRecordDrawId)"
          mat-icon-button>
            <mat-icon
            class="cursor-pointer"
            [matTooltip]="openAuditGameLinkTooltip"
          >
            fact_check
          </mat-icon>
          </button>
  
          <button (click)="openVeChainTransactionInsightByGameId(game.transactionId)"
          mat-icon-button>
            <mat-icon
            class="cursor-pointer"
            matTooltip="VeChain Insight"
          >
            receipt_long
          </mat-icon>
          </button>
  
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Game Id</mat-header-cell
        >
        <mat-cell *matCellDef="let game"> {{ game.id }} </mat-cell>
      </ng-container>
  
        <ng-container matColumnDef="totalGameWagers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Pool Total (VET)</mat-header-cell
          >
          <mat-cell *matCellDef="let game">
            {{ game.totalGameWagers }}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="gameWinningPayout">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Winning Payout (VET)</mat-header-cell
          >
          <mat-cell *matCellDef="let game">
            {{ game.gameWinningPayout }}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="gameWinnerAddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Winning Address</mat-header-cell
          >
          <mat-cell *matCellDef="let game">
            {{ game.gameWinnerAddress.substring(0, 5) }}
            {{ "..." }}
            {{ game.gameWinnerAddress.slice(-4) }}
  
            <mat-icon
              class="cursor-pointer grid-icon-side-padding"
              inline="true"
              matTooltip="{{ game.gameWinnerAddress }}"
              >info</mat-icon
            >
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="gameTotalEligiblePlayers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Current Players
          </mat-header-cell>
          <mat-cell *matCellDef="let game">
            {{ game.gameTotalEligiblePlayers }}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="minimumGamePlayers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Minimum Players
          </mat-header-cell>
          <mat-cell *matCellDef="let game">
            {{ game.minimumGamePlayers }}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="isAuditEnabled">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Audit
          </mat-header-cell>
          <mat-cell *matCellDef="let game">
            {{ game.isAuditEnabled }}
          </mat-cell>
        </ng-container>
  
        <mat-header-row
          *matHeaderRowDef="gameFilterService.completedGamesDisplayColumns"
        >
        </mat-header-row>
        <mat-row
          *matRowDef="
            let game;
            columns: gameFilterService.completedGamesDisplayColumns
          "
        ></mat-row>
      </mat-table>
  
      <mat-paginator
        #completedGamesPaginator
        [pageSizeOptions]="[50, 100, 500]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-tab>
    <!--YOUR GAMES-->
    <mat-tab label="your pools" class="rollit-stats-tabs">
      <mat-table
        class="roll-it-table-full-width"
        mat-table
        matSort
        #yourGamesSort="matSort"
        [dataSource]="gameFilterService.yourGamesDataSource"
      >
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let game">
            <button
              matTooltip="Leave the pool and refund your VET"
              *ngIf="
              walletService.walletCertificate !== undefined &&
              game.status === gameStatusService.AWAITING_GAME_CRITERIA_MET &&
              gameFilterService.hasCompletedRetrievingCurrentPlayersPlayerLeftGameEvents &&
              game.hasPlayerLeftGameEvent !== true
              "
              mat-icon-button
              color="warn"
              (click)="leaveGame(game.id)"
            >
              <mat-icon>cancel</mat-icon>
            </button>
  
            <button *ngIf="game.isAuditEnabled === true && game.status === gameStatusService.COMPLETE"
              (click)="openRandomOrgAuditLinkByGameId(game.auditRecordDrawId)"
              mat-icon-button>
              <mat-icon
                class="cursor-pointer"
                matTooltip="Random.org Audit Game">
                fact_check
              </mat-icon>
            </button>
  
            <button
            *ngIf="game.status === gameStatusService.COMPLETE"
            (click)="openVeChainTransactionInsightByGameId(game.transactionId)"
            mat-icon-button>
              <mat-icon
              class="cursor-pointer"
              matTooltip="VeChain Insight"
            >
              receipt_long
            </mat-icon>
            </button>
  
            <mat-icon
            color="accent"
              *ngIf="
                game.gameWinnerAddress ===
                walletService?.walletCertificate?.annex.signer
              "
              class="cursor-pointer"
              matTooltip="You won"
            >
              paid
            </mat-icon>
  
            <mat-icon
              *ngIf="game.status === gameStatusService.AWAITING_GAME_CRITERIA_MET"
              class="cursor-pointer"
              matTooltip="Awaiting Criteria Met"
            >
              pending_actions
            </mat-icon>
  
            <mat-icon
              *ngIf="
                game.status === gameStatusService.CRITERIA_MET_AWAITING_LOTTERY
              "
              class="cursor-pointer"
              matTooltip="Criteria Met...Pending Execution"
            >
              bolt
            </mat-icon>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Game Id</mat-header-cell
          >
          <mat-cell *matCellDef="let game"> {{ game.id }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="totalGameWagers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Pool Total (VET)</mat-header-cell
          >
          <mat-cell *matCellDef="let game"> {{ game.totalGameWagers }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="gameWinningPayout">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Winning Payout (VET)</mat-header-cell
          >
          <mat-cell *matCellDef="let game">
  
          <span *ngIf="
          game.status === gameStatusService.COMPLETE
        ">
            {{ game.gameWinningPayout }}
          </span>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="gameWinnerAddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Winning Address</mat-header-cell
          >
          <mat-cell *matCellDef="let game">
            <span *ngIf="
            game.status === gameStatusService.COMPLETE
            ">
  
            {{ game.gameWinnerAddress.substring(0, 5) }}
            {{ "..." }}
            {{ game.gameWinnerAddress.slice(-4) }}
  
            <mat-icon
              class="cursor-pointer grid-icon-side-padding"
              inline="true"
              matTooltip="{{ game.gameWinnerAddress }}"
              >info</mat-icon
            >
            </span>
  
          </mat-cell>
  
        </ng-container>
  
        <ng-container matColumnDef="gameTotalEligiblePlayers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Current Players
          </mat-header-cell>
          <mat-cell *matCellDef="let game">
            {{ game.gameTotalEligiblePlayers }}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="minimumGamePlayers">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Minimum Players
          </mat-header-cell>
          <mat-cell *matCellDef="let game">
            {{ game.minimumGamePlayers }}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="isAuditEnabled">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Audit
          </mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.isAuditEnabled }} </mat-cell>
        </ng-container>
  
        <mat-header-row
          *matHeaderRowDef="gameFilterService.yourGamesDisplayColumns"
        >
        </mat-header-row>
        <mat-row
          *matRowDef="
            let game;
            columns: gameFilterService.yourGamesDisplayColumns
          "
        ></mat-row>
      </mat-table>
  
      <mat-paginator
        #yourGamesPaginator
        [pageSizeOptions]="[50, 100, 500]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-tab>
  
    <mat-tab label="chat">
  
      <button
        *ngIf="walletService.walletCertificate !== undefined"
        cdkFocusInitial
        mat-button
        matTooltip="Create Message"
        color="accent"
        (click)="openCreateArenaChatMessage()">
        Add Message
      </button>
  
      <div *ngFor="let item of arenaChatService?.chatMessages">
        <div fxLayout="row wrap" class="chat-arena-posted-message"  fxLayoutAlign="start center" >
          <h3 matLine class="chat-arena-fromUser">
    
            {{ item.fromWallet.substring(0, 5) }}
            {{ "..." }}
            {{ item.fromWallet.slice(-4) }}

           </h3>
           <h3 class="chat-arena-datetime"> {{item.createdAt.toLocaleString() }} </h3>  
           
        </div>        
        <div fxLayout="row wrap">
          <p class="chat-arena-message">{{item.content}} </p>
        </div>   

      </div>
  
    </mat-tab>
  
  </mat-tab-group>
</div>


