// .grid-container {
//   margin: 20px;
// }
.dashboard-game-counts{
  color: #8b8bff;
  font-size: 18px;
}
.cursor{
  cursor: pointer;
}
.step-wizard p{
color: #8b8bff;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
