node_modules
*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
.venv
.vscode

# vechain
application/backend-eventlistener/dist

cicd_service_codecommit_*

application/wallets/sync2/deployment_keystore


.terraform/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*



application/tf/.terraform/providers/registry.terraform.io/hashicorp/aws/3.64.2/windows_amd64/terraform-provider-aws_v3.64.2_x5.exe
application/terraform/.terraform/providers/registry.terraform.io/hashicorp/archive/2.2.0/windows_amd64/terraform-provider-archive_v2.2.0_x5.exe
application/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.64.2/windows_amd64/terraform-provider-aws_v3.64.2_x5.exe

application/terraform/tfplan
application/terraform/.terraform/environment

application/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.66.0/windows_amd64/terraform-provider-aws_v3.66.0_x5.exe

application/terraform/.terraform/providers/registry.terraform.io/hashicorp/external/2.1.0/windows_amd64/terraform-provider-external_v2.1.0_x5.exe
application/terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.1.0/windows_amd64/terraform-provider-local_v2.1.0_x5.exe
application/terraform/.terraform/providers/registry.terraform.io/hashicorp/null/3.1.0/windows_amd64/terraform-provider-null_v3.1.0_x5.exe
application/terraform/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
application/terraform/modules/shared/lambdas/request_payload_transformer/lookup_amplify_dynamodb_table_id.txt

application/terraform/modules/shared/ssm/lookup_amplify_dynamodb_table_id.txt

**/handler.zip
