node_modules
*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
.venv
.vscode

# vechain
application/backend-eventlistener/dist

cicd_service_codecommit_*

application/wallets/sync2/deployment_keystore


.terraform/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*



application/tf/.terraform/providers/registry.terraform.io/hashicorp/aws/3.64.2/windows_amd64/terraform-provider-aws_v3.64.2_x5.exe
application/terraform/.terraform/providers/registry.terraform.io/hashicorp/archive/2.2.0/windows_amd64/terraform-provider-archive_v2.2.0_x5.exe
application/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.64.2/windows_amd64/terraform-provider-aws_v3.64.2_x5.exe
application/lambda_load_historical/handler.zip
application/terraform/tfplan
application/terraform/.terraform/environment
application/lambda_event_processor/handler.zip
application/lambda_block_event_processor/handler.zip
application/lambda_event_bridge_block_poller/handler.zip
application/lambda_historical_event_processor/handler.zip
