<mat-card class="mat-elevation-z8">
    <mat-card-title>create lottery pool</mat-card-title>
    <mat-card-subtitle>settings</mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="createGameForm">

            <div fxLayout="row">
                <div fxLayout="column">

                    <mat-form-field color="accent" appearance="standard">
                        <mat-label>VET</mat-label>
                        <input (change)="commissionCritieraChanged()" matInput type="text"
                            formControlName="betValueControl" class="bet-input-right-align" />
                        <mat-icon class="cursor-pointer" matSuffix matTooltip="VET amount everyone must match">info</mat-icon>
                        <mat-hint>entry fee </mat-hint>
                        <div *ngIf="createGameForm.controls['betValueControl'].invalid" class="alert">
                            <div *ngIf="createGameForm.controls['betValueControl'].errors?.required">
                                required
                            </div>
                            <div *ngIf="createGameForm.controls['betValueControl'].errors?.min">
                                minimum must be {{vetBetMinValue}}
                            </div>
                            <div *ngIf="createGameForm.controls['betValueControl'].errors?.pattern">
                                integers only
                            </div>

                        </div>
                    </mat-form-field>

                    <mat-form-field color="accent" appearance="standard">
                        <mat-label>Players
                        </mat-label>
                        <input (change)="commissionCritieraChanged()" matInput type="text"
                            formControlName="playerCountControl" class="bet-input-right-align" />
                        <mat-icon class="cursor-pointer" matSuffix
                            matTooltip="Contract executes when player count is met">info</mat-icon>
                        <mat-hint>Game total player count</mat-hint>

                        <div *ngIf="createGameForm.controls['playerCountControl'].invalid" class="alert">
                            <div *ngIf="createGameForm.controls['playerCountControl'].errors?.required">
                                required
                            </div>
                            <div *ngIf="createGameForm.controls['playerCountControl'].errors?.min">
                                minimum must be {{minimumPlayerCount}}
                            </div>
                            <div *ngIf="createGameForm.controls['playerCountControl'].errors?.pattern">
                                integers only
                            </div>
                        </div>

                    </mat-form-field>

                   
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    random.org drawing
                                </mat-panel-title>
                                <mat-panel-description>                                    
                                </mat-panel-description>
                                <mat-icon *ngIf="!createGameForm.controls['isRandomOrgDrawingControl'].value" color="warn">
                                    lock_open
                                </mat-icon>
                                <mat-icon *ngIf="createGameForm.controls['isRandomOrgDrawingControl'].value" color="accent">
                                    lock
                                </mat-icon>
                            </mat-expansion-panel-header>
                                                          
                            <div fxLayout="row">
                                <div fxLayout="column">
                                    <mat-checkbox formControlName="isRandomOrgDrawingControl"
                                        (change)="commissionCritieraChanged()" color="accent">
                                        enable audit
                                        <mat-icon class="cursor-pointer" matSuffix
                                            matTooltip="random.org hosts and draws the winner selection for the pool generating a drawing audit receipt on random.org that's accessible and hosted on random.org for 5 years to prove no biased winner selection">
                                            info
                                        </mat-icon>
                                    </mat-checkbox>
                                    <mat-error
                                        *ngIf="createGameForm.controls['isRandomOrgDrawingControl'].errors?.gameBetAuditFeeNotCovered">
                                        Audit fee not met
                                    </mat-error>
    
                                    <mat-form-field color="accent" appearance="standard">
                                        <mat-label>random.org fee
                                        </mat-label>
                                        <input matInput type="text" formControlName="randomOrgGameFeeControl" />
                                        <p matSuffix>$</p>
                                        <mat-hint>{{gameFeeInVETFromRandomOrg | number: '0.4-4'}} ~ VET</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                          
                        </mat-expansion-panel>
                    
                  
                    <mat-form-field color="accent" appearance="standard">
                        <mat-label>estimated VET payout
                        </mat-label>
                        <input matInput type="text" formControlName="estimatedGameVETWinningControl" />                       
                    </mat-form-field>

                    <mat-error
                        *ngIf="createGameForm.controls['isRandomOrgDrawingControl'].errors?.gameBetAuditFeeNotCovered">
                        minimum payout must be at least {{minimumVetPayoutAmount}}
                    </mat-error>

                </div>
            </div>

        </form>

    </mat-card-content>
    <mat-card-actions class="mat-card-action-center-align">
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button (click)="onOkClick()" cdkFocusInitial>Create</button>
    </mat-card-actions>
</mat-card>

