<mat-toolbar color="primary" class="mat-elevation-z6 top-toolbar" fxLayout="row">

  
    <button mat-flat-button color="primary" [routerLink]="['/']">adexr.io</button>
    <button mat-flat-button color="primary" [routerLink]="['/games/dashboard']">
      games
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/about']">
      about
    </button>
    <button
      *ngIf="shellService.isUserAdmin()"
     mat-flat-button color="primary" [routerLink]="['/admin']">
      admin
    </button>
  
    <img
         fxHide.lt-md fxShow.md
          src="../../../assets/logo_512x512.png"
          alt="adexr.io logo image"
          class="adexrio-logo"
          style="height:40px"
    />
  
    <!-- <span>adexr.io</span> -->
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end center" fxHide.sm fxHide.lt-sm>
      <button
            [color]="shellService.feedbackIconThemeColoring"
            color="accent"
            (click)="shellService.openFeedbackDialog()"
            mat-icon-button
            aria-label="icon-button with feedback icon"
            [matTooltip]="shellService.feedbackTooltipText">
            <mat-icon>feedback</mat-icon>
      </button>
      <button
              mat-icon-button
              aria-label="icon-button with heart icon"
              [color]="shellService.donateIconThemeColoring"
              (click)="shellService.openDonationDialog()"
              [matTooltip]="shellService.donateTooltipText"
            >
              <mat-icon>favorite</mat-icon>
      </button>
      <button
              [color]="shellService.profileIconThemeColoring"
              mat-fab
              (click)="shellService.openUserWalletProfile()"
              aria-label="icon-button with profile icon"
              [matTooltip]="shellService.profileTooltipText"
            >
              <mat-icon>psychology</mat-icon>
      </button>  

    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end center" fxHide.gt-sm>

      <!-- Not Logged In -->
      <button        
        *ngIf="shellService.walletService.walletCertificate === undefined"
        [color]="shellService.profileIconThemeColoring"
        mat-mini-fab     
        aria-label="icon-button with profile icon"
        [matTooltip]="shellService.profileTooltipText"
        #mobileToolbarMenuTrigger        
        (click)="shellService.openUserWalletProfile()"
        >
        <mat-icon>psychology</mat-icon>
      </button> 
  
      <!-- Logged In -->
      <button        
        *ngIf="shellService.walletService.walletCertificate !== undefined"
        [color]="shellService.profileIconThemeColoring"
        mat-mini-fab     
        aria-label="icon-button with profile icon"
        [matTooltip]="shellService.profileTooltipText"
        [matMenuTriggerFor]="mobileToolbarMenu"              
        >
        <mat-icon>psychology</mat-icon>
      </button> 
            
      <mat-menu #mobileToolbarMenu="matMenu"> 
        <button           
            mat-menu-item                      
            (click)="shellService.openFeedbackDialog()">
          <mat-icon>feedback</mat-icon>
          <span>Feedback</span>
        </button>
        <button           
            mat-menu-item                      
            (click)="shellService.openDonationDialog()">
          <mat-icon>favorite</mat-icon>
          <span>Donate</span>
        </button>
        <button           
            mat-menu-item                      
            (click)="shellService.openUserWalletProfile()">
          <mat-icon color="warn">logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
      
  </div>
                  
</mat-toolbar>

<mat-toolbar color="primary">
  <header class="header-width">
    <div fxFlex fxLayout>
      <div fxFlex>
        <h1>{{ shellService.headerTitle }}</h1>
      </div>
      <div fxFlex fxLayoutAlign="flex-end center">
        vetusdt:
        {{
          shellService.binanceApiService.binanceTickerResponseResult.price
            | number: "0.6-6"
        }}
      </div>
    </div>
  </header>
</mat-toolbar>

<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>