<mat-card class="welcome-card mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <img
        src="../../../assets/vechain_logo.png"
        alt="vechain logo image"
        class="welcome-vechain-logo"
      />
      powered
      <mat-icon>self_improvement</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>blockchain smart contracts</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Powered by VeChain to enable fast, inexpensive, and trustable executions
      with publically viewable smart contracts for transparency to provide a
      provably-fair pool environments with no deposits or sign-ups!
    </p>

    <h4 class="vechain-lottery-header">
     VeChain Blockchain Lottery Drawing Pools are live! Join in now!
    </h4>

    <div fxLayout="row" fxLayoutAlign="center" >
      <img
        src="../../../assets/pool_payout.png"
        alt="pool payouts logo image"
        class="pool-payout-logo"
      />
    </div>

  </mat-card-content>
</mat-card>



<div fxLayout="row" fxLayoutAlign="center center" >
    <p class="copyright-footer"><img
      src="../../../assets/small_frog_logo.png"
      alt="brighterfrog llc logo image"
      class="welcome-brighterfrog-logo"
    />
      &copy; Brighterfrog LLC, 2021 <mat-icon class="vert-align cursor-pointer" [matTooltip]="buildAndVersion">public</mat-icon></p>      
</div>



