<mat-card class="welcome-card mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <img
        src="../../../assets/vechain_logo.png"
        alt="vechain logo image"
        class="welcome-vechain-logo"
      />
      powered
      <mat-icon>self_improvement</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>blockchain smart contracts</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Powered by VeChain to enable fast, inexpensive, and trustable executions
      with publically viewable smart contracts for transparency to provide a
      provably-fair game environment with no deposits or sign-ups!
    </p>

    <p>
      This is a first iteration to gauge community interest. We plan to release
      public/private/invite game room separation, rewards, and many more game
      mode selections. We don't want to say too much here to leave some
      surprises, but please let us know how we're doing using the feedback
      feature!
    </p>
  </mat-card-content>
</mat-card>


<div fxLayout="row" fxLayoutAlign="end center" >
    <p class="copyright-footer"><img
      src="../../../assets/small_frog_logo.png"
      alt="brighterfrog llc logo image"
      class="welcome-brighterfrog-logo"
    />
      &copy; Brighterfrog LLC, 2021, All Rights Reserved. Version 1.0.12</p>      
</div>

