.welcome-vechain-logo{
    height:25px;
    vertical-align: middle;
}
.welcome-header{
    height:420px;
}
.copyright-footer{
    padding-top: 30px;
    color: white;
}
.welcome-brighterfrog-logo{
    height:40px;
    vertical-align: middle;
}
.vechain-lottery-header{
    color:#54f1b7
}
.build-version{
    color: #691dff;
}
