<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Open Pools
      </mat-panel-title>
      <mat-panel-description fxHide.lt-md fxShow.md>
        What are these pools shown on the Open Pools Tab
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Pools that you created you are automatically added to. 
        You will not be able to join a pool you've created and the wallet you're using should return an error message to you indicating you're already in the pool at that address to prevent duplicate entries.
        After creating a pool for others to challenge and join, the only next step is to wait for another player to join and trigger the lottery execution!
        Pools that are shown on the 'Open Pools' tab are in the awaiting criteria met state and pending execution when the player count is met
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Pools
      </mat-panel-title>
      <mat-panel-description fxHide.lt-md fxShow.md>
        What are these pools shown on the Your Pools Tab
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Pools that you created or joined will automatically show up in 'Your Pools' tab. You will be able to review the state of these pools if they are pending execution waiting for players to join and hit the trigger limit, or if the pool has ended. An icon will show designating you are a winner if your address won and received the payout. If you want to remove yourself and refund all your VET back to your wallet, you are able to leave the pool from the 'Your Pools' tab by clicking the leave icon       
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Completed Pools
      </mat-panel-title>
      <mat-panel-description fxHide.lt-md fxShow.md>
        What are these pools shown on the Completed Pools Tab
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Everything shown on the completed pools tab are all the historical completed pools. Players are able to view total wagers made, winning payouts, the minimum and current player counts, and access the vechain blockchain transaction insight for the pool execution. If the pool was a Random.org pool, a link to the random.org report and lottery execution audit will be provided
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        QuickStart
      </mat-panel-title>
      <mat-panel-description fxHide.lt-md fxShow.md>
        What needs to happen to start playing?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        If no pools are visible on the 'Open Pools' tab, create a new pool for other players to join. Once you have created a pool, you are automatically added as a player. Once another player joins and hits the 'Player Count' on the pool size, the contract will execute and the pool will complete.
        If there are pools visible on the 'Open Pools' tab, you are free to join any of the available pools. Each pool will have it's own fixed 'wager' that every player must match to join. This will build the pot size and ultimately be paid out to the winner
    </p>
  </mat-expansion-panel>

</mat-accordion>