<mat-accordion>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Open Games
      </mat-panel-title>
      <mat-panel-description>
        What are these games shown on the Open Games Tab
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Games that you created you are automatically added to. 
        You will not be able to join a game you've created and the wallet you're using should return an error message to you indicating you're already in the game at that address to prevent duplicate entries.
        After creating a game for others to challenge and join, the only next step is to wait for another player to join and trigger the lottery execution!
        Games that are shown on the 'Open Games' tab are in the AWAITING_GAME_CRITERIA_MET state and pending execution when the criteria ( player count ) is met
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Games
      </mat-panel-title>
      <mat-panel-description>
        What are these games shown on the Your Games Tab
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Games that you created or joined will automatically show up in 'Your Games' tab. You will be able to review the state of these games if they are pending execution waiting for players to join and hit the trigger limit, or if the game has ended. An icon will show designating you are a winner if your address won and received the payout. If you want to remove yourself and refund all your VET back to your wallet, you are able to quit the game from 'Your Games' tab by clicking the leave-game mat-icon        
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Completed Games
      </mat-panel-title>
      <mat-panel-description>
        What are these games shown on the Completed Games Tab
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        Everything shown on the completed games tab are all the historical games played. Players are able to view Total Wagers made, winning payouts, the minimum and current player counts, and access the vechain blockchain transaction insight for the game execution. If the game was a Random.org game, a link to the random.org report and lottery execution audit will be provided
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        QuickStart
      </mat-panel-title>
      <mat-panel-description>
        What needs to happen to start playing?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        If no games are visible on the 'Open Games' tab, create a new game for other players to join. Once you have created a game, you are automatically added as a player. Once another player joins and hits the 'Player Count' on the game size, the contract will execute and the game will complete.
        If there are games visible on the 'Open Games' tab, you are free to join any of the selected games. Each game will have it's own set 'Wager' that every player must match to join. This will build the pot size and ultimately be paid out to the winner
    </p>
  </mat-expansion-panel>
</mat-accordion>




