<mat-card class="welcome-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      faq
    </mat-card-title>
  </mat-card-header>

<mat-card-content>

   <div fxFlex fxLayout="column">
     <div class="question-answer-block" flex *ngFor="let question of questions; last as last">            
        <mat-icon class="help_icon">help_center</mat-icon><span mat-line class="about-question"> {{question.question}}</span>
        <p mat-line class="about-answer">A: {{question.answer}} </p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>   
     </div>
   </div>

  </mat-card-content>
</mat-card>


